.c-affiliate {
  @extend %u-bgimg-cover-ctr;

  align-items: center;
  background-image: url("https://f.hubspotusercontent40.net/hubfs/1709048/Channel/Banner-Background-2.jpg");
  color: color(white);
  display: flex;
  justify-content: center;
  margin: 0 auto 8.3rem auto;
  min-height: 50rem;
  text-align: center;
  width: 100%;

  &__wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 62rem;
  }

  &__title {
    @include type-size(level4);
    margin-bottom: 2rem;
  }

  &__copy {
    p {
      @include type-size(body);
      margin-bottom: 2rem;
    }
  }
  &__btn {
    border-radius: 2.1rem;
    background: #f90;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.16);
    font-weight: 700;
    max-width: 30.1rem;
    padding: 1.1rem 2.7rem;
    transition: 0.3s all ease-in;
    width: 100%;

    @include iota-breakpoint(md) {
      padding: 1.1rem 10.7rem;
    }

    &:hover {
      background-color: color(white);
      color: #f90;
    }

    @include type-size(body);
  }
}
