.c-channel {
  text-align: center;
  margin-bottom: 8.3rem;
  &__title {
    @include type-size(level1);
    color: color(blue);
    font-weight: 700;
    margin-bottom: 0;
  }

  &__subtitle {
    @include type-size(body);
    font-weight: 400;
    margin-bottom: 3.75rem;
  }
}
