.c-contact {
  text-align: center;
  margin-bottom: 10rem;

  &__title {
    color: #0268dc;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4.1rem;
    margin: 0 0 0.8rem 0;
  }

  &__subtitle {
    color: #333;
    font-size: 3rem;
    font-weight: 300;
    line-height: 4.1rem;
  }

  &__form {
    display: flex;
    flex-direction: column;

    &_input,
    &_submit,
    &_textarea {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-color: #e1f1ff;
      border: none;
      border-radius: 2.5rem;
      color: #333;
      display: flex;
      margin: 1.5rem auto;
      min-height: 4rem;
      outline: none;
      text-align: center;
      width: 100%;
    }

    &_textarea {
      height: 10rem;
    }

    &_submit {
      align-items: center;
      appearance: none;
      background: linear-gradient(#f3a233 0%, #f97e22 100%);
      border-radius: 50%;
      color: color(white);
      display: flex;
      font-size: 2.5rem;
      font-weight: bold;
      height: 10rem;
      justify-content: center;
      margin: 0.8rem auto 0 auto;
      max-width: 10rem;
    }

    &_info {
      font-size: 1rem;
      font-style: italic;
      line-height: 1.4rem;
      margin: 1.2rem auto;
      text-align: center;

      a {
        color: #333;
        font-size: 1rem;
        line-height: 1.4rem;
        text-decoration: none;
      }
    }
  }
}
