.c-management {
  margin-bottom: 10.2rem;
  &__wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 62rem;
    text-align: center;
  }

  &__title {
    @include type-size(level4);
    margin-bottom: 2rem;
  }

  &__copy {
    @include type-size(body);
    margin-bottom: 1.4rem;
    text-align: center;
  }

  &__subcopy {
    @include type-size(body);
    text-align: center;
  }
}
