.c-title {
  &--l2 {
    color: color(blue);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.05;
    text-align: center;

    @include iota-breakpoint(md) {
      font-size: 3.6rem;
    }

    br {
      display: none;
      @include iota-breakpoint(md) {
        display: inline-block;
      }
    }
  }
}
